# Dependencies
/node_modules
/frontend/node_modules

# Build directory
/frontend/build

# Environment variables
.env
.env.local
frontend/.env

# Log files
*.log

# System files
.DS_Store
supervisord.pid

# Python cache
__pycache__/ 
